ul{
  list-style: none;
}
.App {
  text-align: center;
  background-color: #1a202c;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  min-height: 100vh;
}
.input{
  padding: 5px 5px;
  width: 40%;
  border-radius: 5px;
  height: 30px;
  line-height: 1.7;
  font-size: 16px;
  margin-right: 5px;
}
.btn-submit{
  padding: 5px 5px;
  width: 15%;
  border-radius: 5px;
  height: 44px;
  background-color: #03a9f4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.form{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}
.btn{
  padding: 8px 20px;
  border-radius: 5px;
  height: 44px;
  background-color: #03a9f4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 4px;
  border: none;
  width: 15%;
}
.btns{
  width: 100%;
}

.todo{
padding: 0;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  border: 1px solid;
  padding: 8px 22px;
  margin-bottom: 15px;
  border-radius: 5px;
  }
.todo li{
  font-size: 20px;
}